<% include _header %>
<script type="text/javascript" src="./javascripts/create_poll.js"></script>
<h1>Create Poll</h1>
<form id="choiceForm" action="/create_poll" method="post" autocomplete="off">
	<div>
		<label for="title">Title</label>
		<input type="text" name="title">
	</div>
	<div id="choicesContainer">
		<div>
			<label for="choiceTitles">Choice: </label>
			<input type="text" name="choiceTitles">
		</div>
			<label for="choiceTitles">Choice: </label>
			<input type="text" name="choiceTitles">
		</div>
	</div>	
	<div id="plusButtonDiv">
		<button type="button" onclick="addChoice()">+</button>
	</div>

	<div>
		<button type="submit">Create Poll</button>
	</div>
		<button type="button" onclick="expandOptions()">Advanced/ Vote Fraud Features</button>
	<div id="adv-features" style="visibility: hidden">
		<div>
			<label for="vote-limit">Limit number of votes to</label>
			<input type="number" id="vote-limit" name="vote-limit" placeholder="unlimited">
		</div>
		<div>
			<input type="hidden" id=id="limit-by-cookies" name="limit-by-cookies" value="false">
			<input type="checkbox" id="limit-by-cookies" name="limit-by-cookies">
			<label for="limit-by-cookies">Restrict voting by cookies</label>
		</div>
		<div>
			<input type="checkbox" id="limit-by-ips" name="limit-by-ips">
			<label for="limit-by-ips">Restrict voting by IP adress</label>
		</div>
		<div>
			<input type="checkbox" id="see-results-before" name="see-results-before">
			<label for="see-results-before">Voters can see the results before they vote</label>
		</div>
		<div>
			<input type="checkbox" id="see-results-after" name="see-results-after">
			<label for="see-results-after">Voters can see the results after they vote</label>
		</div>
		<div>
			<input type="checkbox" id="vote-multiple" name="vote-multiple">
			<label for="vote-multiple">Voters can vote for multiple choices</label>
		</div>
		<div>
			<label for="poll-closes">Voting closes on:</label>
			<input type="date" id="poll-closes" name="poll-closes"　min="2017-04-01" max="2020-01-01">
		</div>
		<div>
			<label for="poll-expires">This poll will exist until:</label>
			<input type="datetime-local" id="poll-expires" name="poll-expires" max=""2019-01-01T22:22:55"">
		</div>
	</div>
</form>
<% include _footer %>