<% include _header %>

<div id="main" class="main-content full-height">

	<div id="main-window" class="container full-height">

		<div class="card shadow-sm">
			<div class="container">
				<h1>Admin Page</h1>
				<h3>Your Poll's link: <b><a href=<%= link %>><%= link %></a></b></h3>
				<h3>Your Admin page link: <b><a href=<%= adminLink %>><%= adminLink%></a></b></h3>
				<i>Remember your admin link to come back to this page.</i>
			</div>
		</div>
		<div class="card shadow-sm">
			<% include _results %>
		</div>
		<div class="card shadow-sm">
			<% include _poll_expires %>
		</div>
	</div>
</div>


<% include _footer %>