<% include _header %>
<script type="text/javascript" src="./javascripts/poll_page.js"></script>
<div id="main" class="main-content full-height">
	<div id="main-window" class="container full-height">
		<br>
		<div class="card shadow-sm content-box">
			<div class="container">
				<h3>Your Poll's link: <b><a href=<%= link %>><%= link %></a></b></h3>
			</div>
		</div>
		
		<br>

		<div class="card shadow-sm content-box">
			<div class="container">

				<h3>Question: <%= title %></h3>
			</div>
		</div>

		<br>

		<% if (pollIsOpen) {%>
		<div class=" card shadow-sm content-box">
			<div class="container">
				<% include _choices %>
			</div>
			<br>
			<div class="card shadow-sm">
				<% include _poll_expires %>
			</div>
		</div>

		<% } else {%>
		<div class=" card shadow-sm content-box">
			<div class="container">

				<% include _poll_closed %>
			</div>
		</div>
		<% }%>
	</div>


</div>
<% include _footer %>