<% include _header %>

	<h1>Your Poll's link: <b><a href=<%= link %>><%= link %></a></b></h1>
	<h1>Your Admin page link: <b><a href=<%= adminLink %>><%= adminLink%></a></b></h1>
	<h2>Don't forget your admin link to come back to this page.</h2>
<% include _results %>
<% include _footer %>