<% include _header %>

<div class="main-content full-height">
		<div id="main-window" class="container full-height">
			<br>
			<% include _results %>
			<div class="container">
			<a href="/<%= link %>" class="btn btn-primary btn-block">Return to Vote Page</a>
		</div>
			<br>
		</div>
	</div>
</div>


<% include _footer %>