<% include _header %>

<div class="main-content">
		<div id="main-window" class="container">
			<br>
			
				<% include _results %>
						<a href="/<%= link %>" class="btn btn-primary">Return to Vote Page</a>
					</div>
				</div>
			</div>


<% include _footer %>