<% include _header %>

<div class="main-content full-height">
		<div id="main-window" class="container full-height">
			<br>
				<% include _results %>
						<a href="/<%= link %>" class="btn btn-primary">Return to Vote Page</a>
						<br>
					</div>
				</div>
			</div>


<% include _footer %>