@media (min-width: 1200px) {
  #main-window {
    width: 768px;
  }
}

@media (min-width: 992px) {
  #main-window {
    width: 768px;
  }
}

.main-content {
	background-color: #eeeeee;
/*	margin: 0;
	height: 100%;*/
}

.plusminus-btn {
	width: 2em !important;
}

/*html, body { min-height: 100%; }*/