html, body {
  height: 100%;
  margin: 0;
}
.full-height {
  height: 100%;
}

@media (min-width: 1200px) {
  #main-window {
    width: 768px;
  }
}

@media (min-width: 992px) {
  #main-window {
    width: 768px;
  }
}

.main-content {
	background-color: #eeeeee;
}

.plusminus-btn {
	width: 2em !important;
}

