<% include _header %>

<div class="main-content full-height">
		<div id="main-window" class="container full-height">
			<% include _results %>
			<div class="container">
			<i>Thank you for voting.</i>
			<a href="/<%= link %>" class="btn btn-primary btn-block">Return to Vote Page</a>
			</div>
		</div>
	</div>
</div>

<% include _footer %>